<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaikuṇṭha</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <style>
    #banner {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    @media (min-width: 992px) {
      .rounded-lg-3 { border-radius: .3rem; }
    }

    .text-important {
      font-size: medium;
      color: #f72585;
    }
  </style>

</head>
<body>
<!--Navbar Start !-->
  {% include 'navbar.html' %}
  <!--Navbar End !-->

  <div class="container">
    <div class="container my-5" id="about">
      <div class="row p-4 pb-4 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
        <small class="text-uppercase">Job Posted On </small>
        <small class="bg-primary fw-bold" style="color:white">{{ opening.created_at }}</small>
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-6 fw-bold text-body-emphasis">{{ opening.title }}</h1>
          <!-- <p class="lead">{{ opening.title }}</p> -->
          <h4 class="display-6 text-body-emphasis">Location</h4>
          <p class="lead">{{ opening.location }}</p>
          <h4 class="display-6 text-body-emphasis">Requirements</h4>
          <p class="lead">{{ opening.requirements }}</p>
          <h4 class="display-6 text-body-emphasis">Responsibilities</h4>
          <p class="lead">T{{ opening.responsibilities}}</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="{{ url_for('static', filename='aboutuscareer.jpeg')}}" alt="" width="600">
        </div>
        <div class="m-auto col-2 p-2 items-center">
          <a href="mailto:lets.code@yahoo.com?subject={{ opening.title }}&body={{ opening.location }} {{ opening.salary }}" type="button" class=" btn btn-lg text-uppercase" style="background-color:#f72585; color:white">Apply</a>
        </div>
      </div>
    </div>

    
    
    <div id="contact" style="text-align: center; margin-bottom: 32px; margin-top: 32px" >
      <h2 class="text-center mt-2 mb-4 display-6 fw-bold lh-1 text-body-emphasis">Get In Touch</h2>
      <p class="lead">If you have any queries, feel free to hit contact button to send out email</p>
      <a href="mailto:lets.code@yahoo.com?subject=Need%20Some%20Help" class="btn btn-primary btn-lg text-uppercase">contact</a>
    </div>
  </div>
  <br>
  <!-- footer start -->
  {% include 'footer.html' %}
  <!-- footer end -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>