<div class="container fixed-top bg-white">
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="{{ url_for('static', filename='lotus-svgrepo-com.svg') }}" height="36px" width="36px">
      <span class="fs-2 fw-bold text-uppercase" style="margin-left:4px; color:"#">वैकुंठ</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
      <li class="nav-item"><a href="#openings" class="nav-link">Openings</a></li>
      <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Resources</a></li>
    </ul>
  </header>
</div>
<div style="height:80px"></div>